<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login

    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
{% extends 'index.html' %}
    {% block content %}
      {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <form method="POST" >
    {% csrf_token %}
    <div style="margin-left: 350px;margin-right: 420px; margin-top: 50px;">
        <div class="mb-3">
          <legend>Login</legend>
          <br>
          <br>
          <label for="exampleInputUsername" class="form-label"> Username</label>
          <input type="text" class="form-control" name="username" >
          
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control"  name="password">
        </div>
        
        <button type="submit" value="Login" class="btn btn-primary">Login</button>
            <br>
            <br>
         <p class="change_link">  
         <div style="text-align: center; margin-left: 30px; margin-top: 20px;">
  <div class="text-center" >
                                <a class="small" href="{%url 'reset_password'%}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{%url 'registers'%}"> If you Don't have Registation? Register!</a>
                            </div>
                        </div>
         
      </div>
      </form>
    
       {% endblock content %}
     
</body>
</html>