 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

{% extends 'index.html' %}
{% block content %}


<form style="margin-left:20px; margin-top: 30px;" >
      
      {% if dat %}
       

       <ul class="nav d-flex justify-content-between">
        <li class="nav-item">
            <h3 class="info"> Product Data</h3>
        </li>
        <li>
         <input  type="text" name="q" placeholder="Search" aria-label="Search">&nbsp;&nbsp;<button class="btn btn-outline-success" type="submit">Search</button>
        </li>
        <li class="nav-item">
            <a href="{%url 'pro_export'%}" class="btn btn-success btn-sm" style="margin-right: 26px;" >Exprot Report</a>
        </li>
       
      </ul>
      {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    {% endif %}

    <div style="margin-right:195px">
        <table style="width:120%; background-color: #BDC3C7 ;" class="table table-bordered table-sm ">


        
          <thead class="thead-dark">
                <th>ID</th>
               <th>PID</th>
                <th>Product Name</th>
                <th>Product Brand</th>
                <th>Serial No</th>
                <th>Model No</th>
                <th>Description</th>
                <th>Category</th>
                <th>SubCategory</th>
                <th>Action</th>
                            
            </tr>
            {% for data in dat %}
            <tr>
                <td scope="row"> {{data.id}}</td>
                <td>{{data.pid}}</td>
                <td>{{data.product_name}}</td>
                <td>{{data.product_brand}}</td>
                <td>{{data.serial_no}}</td>
                <td>{{data.model_no}}</td>
                <td>{{data.description}}</td>
                <td>{{data.category}}</td>
                <td>{{data.subcategory}}</td>
                 <td>
                    {%  if request.user.is_superuser %}







                  <a href="{% url 'productdelete' data.id %}" class="btn btn-danger btn-sm">Delete</a> 
  
                 <a href="{% url 'productupdate' data.id %}" class="btn btn-warning btn-sm">Edit</a> 
                
                  </td>
                  
                    {% else %}
                    <p><small>Only admin can Use Edit & Delete button</small></p>
                  {% endif %}
              
               

               
                
                       </tr>
                        {% endfor %}
        
                         {% else %}
     
                          {% endif %}

                       </table>
                       
</div>
                      
      
      


   {% endblock content %}
</form>
</body>
</html> 
